@{
    ViewData["Title"] = "BlogBase";
}

<div class="text-center">
    <h1 class="display-4">BlogBase</h1>
    <p class="lead">publish a blog and manage it's content</p>
</div>


@section Scripts{

    <script>


    </script>

}